@model IEnumerable<ToDo>

    <div class="row">
        <div class="col-md-2">
            <form asp-action="Filter" method="post">
                <div class="mb-3">
                    <label class="form-label">Tegevuse liik</label>
                    <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Categories,"CategoryID","Name",ViewBag.Filters.CategoryID))">
                    <option value="kõik">Kõik liigid</option>
                </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tähtaeg:</label>
                    <select name="filter" class="form-select"
                    asp-items="@(new SelectList(ViewBag.DueFilters,"Key","Value",ViewBag.Filters.Due))">
                    <option value="kõik">Kõik tähtajad</option>
                </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Staatus</label>
                    <select name="filter" class="form-select"
                    asp-items="@(new SelectList(ViewBag.Statuses,"StatusID","Name",ViewBag.Filters.StatusID))">
                    <option value="kõik">Kõik staatused</option>
                </select>
                </div>
                <button type="submit" class="btn btn-primary">Filtreeri</button>
                <a asp-action="Index" asp-route-id="" class="btn btn-primary">Kustuta</a>
            </form>

        </div>

        <div class="col-md-10">
            <form asp-action="MarkComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                <table class="table table-bordered table-striped mt-2">
                    <thead>
                        <tr>
                            <th>Tegevuse kirjeldus</th>
                            <th>Liik</th>
                            <th>Tähtaeg</th>
                            <th>Staatus</th>
                            <th class="w-25"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(ToDo task in Model)
                        {
                            string overdue = task.Overdue ? "bg-warning" : "";
                            <tr>
                                <td>@task.Description</td>
                                <td>@task.Category.Name</td>
                                <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                                <td class="@overdue">@task.Status.Name</td>
                                <td>
                                @if (task.StatusID == "teha")
                                    {
                                        <button type="submit" class="btn btn-primary btn-sm"
                                        name="@nameof(ToDo.Id)" value="@task.Id">Märgi tehtuks</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
            <form asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                <a asp-action="Add" class="btn btn-primary">Lisa uus tegevus</a>
                <button type="submit" class="btn btn-primary">Kustuta tehtud tegevused</button>
            </form>
        </div>
    </div>


